
#uniswap_frame_container{
   width: 100%;
   height: 2000px; 

}

#uniswap_frame{
    width: 100%;
    height: 2000px; 
    border-radius: 20px;
    margin-top: 20px;
 }

 #token_label_left{
    font-size: 30px;
    color: white;
    float:left;
    margin-left: 20px;
 }

 #token_label_center{
   font-size: 30px;
   color: white;
   float:left;
   margin: auto;
   padding-left: 30px;
}

#token_label_center_right{
   font-size: 30px;
   color: white;
   float:right;
   margin: auto;
   padding-right: 20px;
}
#token_label_right{
   font-size: 30px;
   color: white;
   float:right;
   margin-right: 20px;
}