#flyer{
 width: 250px;
 margin: auto;
 margin-top: 0px;
 align: center;
}

#frame_beanstalk{
    border: solid 0px red;
    position: relative;
    top: -104px;
    margin-left:-6px;
    height: 500px;
    overflow: hidden;
    width: 450px;
}

#beanstalk_scale{
    height: 500px;
    margin-left: -45px;
}

#pointer_mainlabel{
    color: white;
    font-size: 25px;
    margin-left: 10px;
    float: left;
    margin-top: -9px;
}

#beanstalk{
    width: 60px;
    height: 500px;
    margin-left: 86px;
    margin-top: -400px;
    float: left;
    bottom:0px;
}

#beanstalk_back{
    margin-top: 20px;
    width: 60px;
    height: 500px;
    margin-left: 25px;
   
}



#gofarm_button{
    cursor: pointer;
    margin-bottom: 100px;
    padding: 10px;
    font-size: 24px;
    color: white;
    background:rgb(5, 124, 21);
    border-radius:15px;
    font-weight: bold;
    width: 210px;
    position: relative;
    top: -480px;
    margin-left: -53px;
}

#beanstalk_mainlabel{
    font-family: 'Oleo Script Swash Caps', cursive;
    color: white;
    font-size: 40px;
    margin-left: -45px;
}

#HappyFarm_sublabel{
    font-family: 'Oleo Script Swash Caps', cursive;  
    color: white;
    font-size: 18px;
    margin-left: -25px;
    margin-bottom: 50px;
}

#splash_image{
   width: 180px;
   margin-left:-17px;
}

