#lips{
    color: white;
    float: left;
    opacity: 1;
    overflow: hidden;
    height: 68px;
    width: 450px;
    font-size: 40px;
}
#lips:after{
    float: left;
    opacity: 1;
 
}
#lips:hover{
    float: left;
    opacity: 1;
    height: 203px;
    width: 100%;
    border-bottom: solid 1px black;

}
#lips_logo{
    margin-top: 5px;
    height:56px;
    margin-left: 10px;
    opacity: 1;
    z-index: 100;
    float: left;
}

#lips_label{
    float: left;
    margin-left: 10px;
    font-family: 'Oleo Script Swash Caps', cursive;
    padding-top: 5px;
}
#lips_logo:before{
    height:64px;
    margin-left: 10px;
    opacity: 1;
    z-index: 100;
}
#lips_menu{
    background:rgb(5, 124, 21);
    width: calc( 100% - 10px );
    height: 115px;
    padding: 10px;

    padding-top:80px;
}

.lips_menu_link{
    color:white;
    text-decoration: none;
}
.lips_menu_link:hover{
    background:rgb(3, 66, 11);

}

.menu_row{
    width: 100%;
    height: 110px;
}

.lips_dir_button{
    padding-top:20px;
    margin-right: 10px;
    margin-bottom:10px;
    border-radius: 5px;
    width: 100px;
    height: 80px;
    color: white;

    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.lips_dir_icon{
    width: 32px;
    margin-top: 10px;
}

.float_right{
    float: right;
}
.float_left{
    float: left;
}

.lips_dir_button:hover{


    background:rgb(4, 100, 17);

}