


#Instructions_mainlabel{
    font-family: 'Oleo Script Swash Caps', cursive;
    color: white;
    font-size: 60px;
    margin-top: 10px;
    text-align: center;
}

.Instruction_label{
    font-family: 'Oleo Script Swash Caps', cursive;  
    color: white;
    font-size: 40px;
    float: left;
}

.Instruction_desc{
    font-family: 'Oleo Script Swash Caps', cursive;  
    color: white;
    font-size: 34px;
    padding-left: 80px;
    margin-top: 20px;
    width: 800px;
    float: left;
}

.clear{clear:both;}

.Instruction{
    background:rgb(5, 124, 21);
    border-radius:20px;
    width: calc( 100% - 40px );
    padding: 20px;
    cursor: pointer;
    height: 60px;
    margin-bottom: 10px;
    overflow: hidden;
}

.Instruction_button{
    flot: right;

}

.Instruction:hover{
    cursor: default;
    height: 390px;
    margin-bottom: 10px;
   
}

.Instruction:hover{
    background:rgb(5, 92, 16);;
}

.Instruction_image{
   width: 70px;
   margin-left: 10px;
   float: left;
   font-size: 40px;
}

#Instructions_panel{
    width: 100%;

    margin-top: 0px;
    height: 100%;
    align: center;
   }

.Instruction_button{
    cursor: pointer;
    padding: 10px;
    font-size: 40px;
    color: white;
    background: rgb(5, 124, 21);
    border-radius: 15px;
    font-weight: bold;
    float: right;
    margin-top: 260px;
}

.Instruction_button2{
    cursor: pointer;
    padding: 10px;
    font-size: 40px;
    color: white;
    background: rgb(5, 124, 21);
    border-radius: 15px;
    font-weight: bold;
    float: right;
    margin-top: 160px;
    width:320px;
}

.Instruction_button3{
    cursor: pointer;
    padding: 10px;
    font-size: 40px;
    color: white;
    background: rgb(5, 124, 21);
    border-radius: 15px;
    font-weight: bold;
    float: right;
    margin-top: 20px;
    width:320px;
}

.Instruction_button2:hover{
    border-radius:15px;
    background: white;
    color:rgb(5, 124, 21);
}

.Instruction_button3:hover{
    border-radius:15px;
    background: white;
    color:rgb(5, 124, 21);
}

.Instruction_button:hover{
    border-radius:15px;
    background: white;
    color:rgb(5, 124, 21);
}