#Math_panel{
    background: #2da841;
     width: 100%;
     height: 2000px;
}


.Equation{
    width: 400px;
    float: left;
    margin: 10px;
    border: solid 4px black;
    border-radius: 15px;
    padding: 20px;
    background: rgb(5, 124, 21);
    cursor: pointer;
}

.Equation:hover{
    border: solid 4px white;;
}

#Math_mainlabel{
    font-family: 'Oleo Script Swash Caps', cursive;
    color: white;
    font-size: 40px;
    text-align: center;
}

.Math_label{
    font-family: 'Oleo Script Swash Caps', cursive;  
    color: white;
    font-size: 30px;

    float: right;
    text-align: right;
}

.Math_image{
   width: 30px;
   font-size: 30px;
   float: left;
}

#Math_flyer{
    width: 250px;
    margin:auto;
    margin-top: 0px;
    height: 100%;
    align: center;
   }

#Math_button{
    cursor: pointer;
    margin-left: -60px;
    margin-bottom: 100px;
    padding: 10px;
    font-size: 24px;
    color: white;
    background:rgb(5, 124, 21);
    border-radius:15px;

    font-weight: bold;
}

#Math_button:hover{
    border-radius:15px;
    background: white;
    color:rgb(5, 124, 21);
}