.panel1x3_{
    width: calc( 100% );
    height: calc( 100%  );


    
}

.row3{
    float: left;
    height: calc( ( 100% - 20px ) / 3 );
    width: 100%
}
 
.vsplit{
    width: 10px;
    float: left;
}