#login{
    position: fixed;
    right: 0px;
    width:  calc( 100% - 200px);
}


#hf_account_address{float: left;}

#wing_avatar{
    width: 30px;
    float: left;

    margin-right: 10px;
}

#metamask{
    float: right;
    cursor: pointer;
}
#metamask_logo{
    margin-top: 10px;
    margin-right: 10px;
    width: 52px;
    height:52px;
}
.hf_menu {
    cursor: pointer;
    margin-right: 20px;
    font-size: 30px;
    background:rgb(5, 124, 21);
    float: right;
    margin-top: 15px;
}
#hf_account {
    float: right;
    margin-top: 13px;
    margin-right: 10px;
    background:rgb(5, 124, 21);
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    cursor: pointer;
    display: none;
 
}
#hf_account:hover{
    background:white;
    color:black;
}

#lips_search_panel{
    height: 50px;
    float: right;
    margin-top: 10px;
    margin-right: 15px;
    overflow: hidden;
}


#lips_search_icon{
    float: right;
    height: 50px;
    width: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
    cursor: pointer;
}

#lips_search_field{
    float: left;
    height: 40px;
    width: 300px;
    margin-top: 0px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 22px;
    padding-left: 10px;
}

#login{width: calc( 100% - 400px);}

#beans_counter_label{
float: left;
font-size: 35px;
color: white;
margin-right: 10px;
margin-left: 20px;
}

#beans_counter_image{
    float: left;   
}

#connect_label{
    cursor: default;
    float: left;
    font-size: 14px;
    color: white;
    margin-right: 0px;
    margin-left: 20px;
    width: 70px;
    text-align: center;
    margin-top: 15px;
}